<div class="col-xs-12">
    <h1>{{item.text}}</h1>

    <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-camera"></span>
        Yanıtla
    </button>
</div>
<div class="col-xs-12">
    <div class="well" ng-repeat="story in list.data">
        <div class="item">
            <p>{{ story.description }}</p>
        </div>

        <div class="item item-image">
            <a href="#!/story-detail/{{story.id}}" class="thumbnail">
                <img src="http://resm.in{{ story.cover_img.url }}">
            </a>
        </div>

        <div class="item tabs tabs-icon-left">
            <button class="btn btn-primary btn-sm" type="button">
                Yorum <span class="badge">{{ story.comment_count }}</span>
            </button>
            <button class="btn btn-danger btn-sm" type="button">
                Beğen <span class="badge">{{ story.comment_count }}</span>
            </button>
            <a href="#!/story-detail/{{story.id}}" class="btn btn-success btn-sm">
                Görüntüle <span class="glyphicon glyphicon-play-circle"></span>
            </a>
        </div>
    </div>
</div>