<div class="well" ng-repeat="story in list.data">
  <div class="thmb-wrap shadowed">
    <div class="oa pa db bb f_tiny">
      <a href="/q/PD/">{{ story.question_meta.text }}</a>
    </div>
    <a class="thmb" href="#!/story-detail/{{ story.id }}">
      <img src="http://resm.in{{ story.cover_img.url }}">
    </a>
    <div class="footer oa db pl pr">
      <div class="username"><a href="/u/rootifera/">rootifera</a></div>
      <div class="likes-wrap like-button" data-story-id="{{ story.id }}">
        <div class="count">{{ story.like_count }}</div>
        <i class="mth fa fa-heart"></i>
      </div>
      <div class="comments-wrap">
        <a href="#">
          <span class="count">{{ story.comment_count }}</span>
          <i class="mth fa fa-comment"></i>
        </a>
      </div>
    </div>
  </div>
</div>
